-i https://pypi.org/simple/
certifi==2020.12.5
chardet==3.0.4
cnamedtuple==0.1.6
colorama==0.4.4
commonmark==0.9.1
idna==2.10
plumbum==1.6.9
pygments==2.8.0
requests==2.25.0
rich==9.11.1
typing-extensions==3.7.4.3
urllib3==1.26.3
