-i https://pypi.org/simple/
appdirs==1.4.4
astroid==2.5.6
attrs==20.3.0
black==19.10b0
click==7.1.2
isort==5.8.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
pathspec==0.8.1
pylint==2.8.2
regex==2021.4.4
toml==0.10.2
typed-ast==1.4.3
wrapt==1.12.1
